$break-xs: 758px;
$break-sm: 758px;
$break-md: 992px;
$break-lg: 1200px;
@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $break-xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $break-sm + 1) and (max-width: $break-md - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $break-md + 1) and (max-width: $break-lg - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $break-lg) { @content; }
  }
  @else if $media == gt-xs {
    @media only screen and (min-width: $break-xs) { @content; }
  }
  @else if $media == gt-md {
    @media only screen and (min-width: $break-md + 1) { @content; }
  }
}

.project-wrapper{
  ul.projects{
    li{
      padding: 10px 5px;
      @include respond-to(xs) {
        width: 50%;
      }
    }
  }
}
